Repository app-sre/container-images: changes, and which Tekton pipelines are due for each by the changed paths.
All: debug-container-master-on-pull-request, dynatrace-config-job-master-on-push, grafana-ubi-master-on-push, grafana-ubi9-master-on-push, jiralert-master-on-push, logrotate-master-on-push, msk-debug-container-3.6-master-on-push, msk-debug-container-3.7-master-on-pull-request, qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push, rds-enhanced-metrics-exporter-master-on-push

Path conditions:
  debug-container-master-on-pull-request: any of: debug-container/|.tekton/debug-container-master-pull-request.yaml|.tekton/debug-container-master-push.yaml
  dynatrace-config-job-master-on-push: any of: dynatrace-config-job/|.tekton/dynatrace-config-job-master-pull-request.yaml|.tekton/dynatrace-config-job-master-push.yaml
  grafana-ubi-master-on-push: any of: grafana-ubi/|.tekton/grafana-ubi-master-pull-request.yaml|.tekton/grafana-ubi-master-push.yaml
  grafana-ubi9-master-on-push: any of: grafana-ubi9/|.tekton/grafana-ubi9-master-pull-request.yaml|.tekton/grafana-ubi9-master-push.yaml
  jiralert-master-on-push: any of: jiralert/|.tekton/jiralert-master-pull-request.yaml|.tekton/jiralert-master-push.yaml
  logrotate-master-on-push: any of: logrotate/|.tekton/logrotate-master-pull-request.yaml|.tekton/logrotate-master-push.yaml
  msk-debug-container-3.6-master-on-push: any of: msk-debug-container/|.tekton/msk-debug-container-master-pull-request.yaml|.tekton/msk-debug-container-master-push.yaml
  msk-debug-container-3.7-master-on-pull-request: any of: msk-debug-container/|.tekton/msk-debug-container-kafka-3.6-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.6-master-push.yaml|.tekton/msk-debug-container-kafka-3.7-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.7-master-push.yaml
  qontract-reconcile-builder-master-on-pull-request: any of: qontract-reconcile-builder/|.tekton/qontract-reconcile-builder-master-pull-request.yaml|.tekton/qontract-reconcile-builder-master-push.yaml
  qontract-reconcile-builder-master-on-push: any of: qontract-reconcile-builder/|.tekton/qontract-reconcile-builder-master-pull-request.yaml|.tekton/qontract-reconcile-builder-master-push.yaml
  rds-enhanced-metrics-exporter-master-on-push: any of: rds-enhanced-metrics-exporter/|.tekton/rds-enhanced-metrics-exporter-master-pull-request.yaml|.tekton/rds-enhanced-metrics-exporter-master-push.yaml

Red Hat Konflux update wiremock-master
  .tekton/wiremock-master-pull-request.yaml
  .tekton/wiremock-master-push.yaml
Due: none

add tekton pipelines
  .tekton/wiremock-master-pull-request.yaml
  .tekton/wiremock-master-push.yaml
Due: none

add wiremock Dockerfile
  wiremock/Dockerfile
  wiremock/LICENSE
  wiremock/README.md
Due: none

add usage example
  wiremock/README.md
Due: none

update Helm to 3.19.2
  qontract-reconcile-base/Dockerfile
Due: none

Release qontract-base 1.4.0
  qontract-reconcile-base/Dockerfile
Due: none

Bump q-r-builder
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

APPSRE-11024: Add debug-container to Konflux
  .tekton/debug-container-master-pull-request.yaml
  .tekton/debug-container-master-push.yaml
Due: debug-container-master-on-pull-request

APPSRE-11024: update ref for fedora 43
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

update image to use registry instead of quay, and UBI instead of Fedora (sbom metadata)
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

remove irrelevant packages
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

add \
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

remove curl
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

Update Dockerfile
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

APPSRE-11024: Add debug-container to Konflux pipelines (#278)
  .tekton/debug-container-master-pull-request.yaml
  .tekton/debug-container-master-push.yaml
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

APPSRE-11024: update image url for debug-container post Konflux migration
  debug-container/openshift.yml
Due: debug-container-master-on-pull-request

Update openshift.yml
  debug-container/openshift.yml
Due: debug-container-master-on-pull-request

APPSRE-11024-1: updated image url
  debug-container/openshift.yml
Due: debug-container-master-on-pull-request

APPSRE-11024-1: updated debug-container image url post Konflux migration (#280)
  debug-container/openshift.yml
Due: debug-container-master-on-pull-request

delete-debug-container-fedramp
  debug-container-fedramp/Dockerfile
  debug-container-fedramp/README.md
  debug-container-fedramp/VERSION
  debug-container-fedramp/openshift-with-pvc.yml
  debug-container-fedramp/openshift.yml
Due: none

debug-container redis-cli test
  .tekton/debug-container-master-pull-request.yaml
  .tekton/debug-container-master-push.yaml
  debug-container/Dockerfile
  debug-container/goss.yml
Due: debug-container-master-on-pull-request

debug-container redis-cli test (#282)
  .tekton/debug-container-master-pull-request.yaml
  .tekton/debug-container-master-push.yaml
  debug-container/Dockerfile
  debug-container/goss.yml
Due: debug-container-master-on-pull-request

add telnet via wrapper script that uses nmap-ncat
  debug-container/Dockerfile
  debug-container/telnet
Due: debug-container-master-on-pull-request

add telnet via wrapper script that uses nmap-ncat (#283)
  debug-container/Dockerfile
  debug-container/telnet
Due: debug-container-master-on-pull-request

add goss tests for important binaries in debug-container
  debug-container/goss.yml
Due: debug-container-master-on-pull-request

syntax fix
  debug-container/goss.yml
Due: debug-container-master-on-pull-request

update flags for non-posix compliant commands
  debug-container/goss.yml
Due: debug-container-master-on-pull-request

chore(qontract-reconcile-base): remove cloudflare terraform provider
  qontract-reconcile-base/Dockerfile
Due: none

chore(qontract-reconcile-base): remove cloudflare terraform provider (#285)
  qontract-reconcile-base/Dockerfile
Due: none

chore(qontract-reconcile-builder): remove cloudflare terraform provider
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

add goss tests for important binaries in debug-container (#284)
  debug-container/goss.yml
Due: debug-container-master-on-pull-request

chore(qontract-reconcile-builder): remove cloudflare terraform provider (#286)
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

Remove old build files
  README.md
  build_deploy.sh
  build_images.sh
  pr_check.sh
Due: none

APPSRE-13665 amtool bump
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-13665 version
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-13955 address review: extract ARG, drop microdnf, align workdir
  reloader/Dockerfile
Due: none

APPSRE-13955 add Reloader Konflux image build
  .tekton/reloader-master-pull-request.yaml
  .tekton/reloader-master-push.yaml
  reloader/Dockerfile
  reloader/README.md
  reloader/VERSION
Due: none

APPSRE-13955 address reviewer feedback on Reloader Dockerfile
  reloader/Dockerfile
  reloader/VERSION
Due: none

APPSRE-13955 rename RELOADER_VERSION ARG to VERSION
  reloader/Dockerfile
  reloader/README.md
Due: none
