Repository app-sre/container-images: changes, and which Tekton pipelines are due for each by the changed paths.
All: debug-container-master-on-pull-request, dynatrace-config-job-master-on-push

.tekton/debug-container-master-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/app-sre/debug-container?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "pull_request" && target_branch
      == "master" && files.all.exists(x, x.matches('debug-container/|.tekton/debug-container-master-pull-request.yaml|.tekton/debug-container-master-push.yaml'))
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: container-images-master
    appstudio.openshift.io/component: debug-container-master
    pipelines.appstudio.openshift.io/type: build
  name: debug-container-master-on-pull-request
  namespace: app-sre-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/debug-container-master:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: debug-container/Dockerfile
  - name: path-context
    value: debug-container/
  pipelineRef:
    resolver: git
    params:
    - name: url
      value: https://github.com/app-sre/shared-pipelines
    - name: revision
      value: main
    - name: pathInRepo
      value: pipelines/multi-arch-build-pipeline.yaml
  taskRunTemplate: {}
  workspaces:
  - name: workspace
    volumeClaimTemplate:
      metadata:
        creationTimestamp: null
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
      status: {}
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/dynatrace-config-job-master-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/app-sre/container-images?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch
      == "master" && files.all.exists(x, x.matches('dynatrace-config-job/|.tekton/dynatrace-config-job-master-pull-request.yaml|.tekton/dynatrace-config-job-master-push.yaml'))
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: container-images-master
    appstudio.openshift.io/component: dynatrace-config-job-master
    pipelines.appstudio.openshift.io/type: build
  name: dynatrace-config-job-master-on-push
  namespace: app-sre-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/dynatrace-config-job-master:{{revision}}
  - name: dockerfile
    value: dynatrace-config-job/Dockerfile
  - name: path-context
    value: dynatrace-config-job/
  pipelineRef:
    resolver: git
    params:
    - name: url
      value: https://github.com/app-sre/shared-pipelines
    - name: revision
      value: main
    - name: pathInRepo
      value: pipelines/multi-arch-build-pipeline.yaml
  taskRunTemplate: {}
  workspaces:
  - name: workspace
    volumeClaimTemplate:
      metadata:
        creationTimestamp: null
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
      status: {}
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

APPSRE-10981 test release
  dynatrace-config-job/Dockerfile
Due: dynatrace-config-job-master-on-push

APPSRE-10981 test release (#146)
  dynatrace-config-job/Dockerfile
Due: dynatrace-config-job-master-on-push

APPSRE-10981 test release (#147)
  dynatrace-config-job/Dockerfile
Due: dynatrace-config-job-master-on-push

APPSRE-10981 test release (#148)
  dynatrace-config-job/Dockerfile
Due: dynatrace-config-job-master-on-push

APPSRE-10981 test relesae
  dynatrace-config-job/Dockerfile
Due: dynatrace-config-job-master-on-push

Appsre 10981 new test relesae (#149)
  dynatrace-config-job/Dockerfile
Due: dynatrace-config-job-master-on-push

APPSRE-10981 test release (#150)
  dynatrace-config-job/Dockerfile
Due: dynatrace-config-job-master-on-push

APPSRE-10981 test release (#151)
  dynatrace-config-job/Dockerfile
Due: dynatrace-config-job-master-on-push

APPSRE-10981 renovate
  dynatrace-config-job/Dockerfile
  renovate.json
Due: dynatrace-config-job-master-on-push

APPSRE-10981 renovate (#152)
  dynatrace-config-job/Dockerfile
  renovate.json
Due: dynatrace-config-job-master-on-push

APPSRE-10981 test release (#156)
  dynatrace-config-job/Dockerfile
Due: dynatrace-config-job-master-on-push

keep builds
  .tekton/dynatrace-config-job-master-pull-request.yaml
  .tekton/dynatrace-config-job-master-push.yaml
Due: dynatrace-config-job-master-on-push

keep builds (#158)
  .tekton/dynatrace-config-job-master-pull-request.yaml
  .tekton/dynatrace-config-job-master-push.yaml
Due: dynatrace-config-job-master-on-push

:arrow_up: upgrade ubi images
  qontract-reconcile-base/Dockerfile
  qontract-reconcile-builder/VERSION
  qontract-reconcile-oc/VERSION
Due: none

:arrow_up: upgrade ubi images (#159)
  qontract-reconcile-base/Dockerfile
  qontract-reconcile-builder/VERSION
  qontract-reconcile-oc/VERSION
Due: none

Update previous successful build
  PREVIOUS_BUILD_SHA
Due: none

Red Hat Konflux update cloudwatch-exporter-master Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cloudwatch-exporter-master-pull-request.yaml
  .tekton/cloudwatch-exporter-master-push.yaml
Due: none

Upgrade dynatrace-config-job
  dynatrace-config-job/Dockerfile
  dynatrace-config-job/VERSION
Due: dynatrace-config-job-master-on-push

cloudwatch-exporter Konflux build
  .tekton/cloudwatch-exporter-pull-request.yaml
  .tekton/cloudwatch-exporter-push.yaml
  CI_EXT_EXCLUDED_IMAGES
  build_images.sh
  cloudwatch-exporter/Dockerfile
  cloudwatch-exporter/VERSION
Due: none

Red Hat Konflux update msk-debug-container-master Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/msk-debug-container-master-pull-request.yaml
  .tekton/msk-debug-container-master-push.yaml
Due: none

:sparkles: msk-debug-container
  .tekton/msk-debug-container-kafka-3.6-master-pull-request.yaml
  .tekton/msk-debug-container-kafka-3.6-master-push.yaml
  .tekton/msk-debug-container-kafka-3.7-master-pull-request.yaml
  .tekton/msk-debug-container-kafka-3.7-master-push.yaml
  msk-debug-container/Dockerfile
  msk-debug-container/README.md
  msk-debug-container/client.properties
  msk-debug-container/openshift.yml
Due: debug-container-master-on-pull-request

compile kafka client settings at startup
  msk-debug-container/Dockerfile
  msk-debug-container/README.md
  msk-debug-container/client.properties
  msk-debug-container/client.properties.template
  msk-debug-container/openshift.yml
  msk-debug-container/start.sh
Due: debug-container-master-on-pull-request

fix image tags
  .tekton/msk-debug-container-kafka-3.6-master-pull-request.yaml
  .tekton/msk-debug-container-kafka-3.6-master-push.yaml
  .tekton/msk-debug-container-kafka-3.7-master-pull-request.yaml
  .tekton/msk-debug-container-kafka-3.7-master-push.yaml
  msk-debug-container/README.md
  msk-debug-container/openshift.yml
  msk-debug-container/start.sh
Due: debug-container-master-on-pull-request

:sparkles: msk-debug-container (#166)
  .tekton/msk-debug-container-kafka-3.6-master-pull-request.yaml
  .tekton/msk-debug-container-kafka-3.6-master-push.yaml
  .tekton/msk-debug-container-kafka-3.7-master-pull-request.yaml
  .tekton/msk-debug-container-kafka-3.7-master-push.yaml
  msk-debug-container/Dockerfile
  msk-debug-container/README.md
  msk-debug-container/client.properties.template
  msk-debug-container/openshift.yml
  msk-debug-container/start.sh
Due: debug-container-master-on-pull-request

APPSRE-11058 version incrementer test
  dynatrace-config-job/Dockerfile
  dynatrace-config-job/VERSION
Due: dynatrace-config-job-master-on-push

APPSRE-11058 version incrementer test (#170)
  dynatrace-config-job/Dockerfile
  dynatrace-config-job/VERSION
Due: dynatrace-config-job-master-on-push

APPSRE-11058 compliance
  dynatrace-config-job/Dockerfile
  dynatrace-config-job/LICENSE
Due: dynatrace-config-job-master-on-push

APPSRE-11058 compliance (#171)
  dynatrace-config-job/Dockerfile
  dynatrace-config-job/LICENSE
Due: dynatrace-config-job-master-on-push

APPSRE-11309 git for dt ci
  dynatrace-ci/Dockerfile
  dynatrace-ci/VERSION
Due: none

APPSRE-11309 git for dt ci (#172)
  dynatrace-ci/Dockerfile
  dynatrace-ci/VERSION
Due: none

APPSRE-11309 DT CI private tf modules
  dynatrace-ci/Dockerfile
  dynatrace-ci/VERSION
  dynatrace-ci/entrypoint.sh
Due: none
