Repository app-sre/container-images: changes, and which Tekton pipelines are due for each by the changed paths.
All: debug-container-master-on-pull-request, dynatrace-config-job-master-on-push, grafana-ubi-master-on-push, grafana-ubi9-master-on-push, jiralert-master-on-push, logrotate-master-on-push, msk-debug-container-3.6-master-on-push, msk-debug-container-3.7-master-on-pull-request, qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

Path conditions:
  debug-container-master-on-pull-request: any of: debug-container/|.tekton/debug-container-master-pull-request.yaml|.tekton/debug-container-master-push.yaml
  dynatrace-config-job-master-on-push: any of: dynatrace-config-job/|.tekton/dynatrace-config-job-master-pull-request.yaml|.tekton/dynatrace-config-job-master-push.yaml
  grafana-ubi-master-on-push: any of: grafana-ubi/|.tekton/grafana-ubi-master-pull-request.yaml|.tekton/grafana-ubi-master-push.yaml
  grafana-ubi9-master-on-push: any of: grafana-ubi9/|.tekton/grafana-ubi9-master-pull-request.yaml|.tekton/grafana-ubi9-master-push.yaml
  jiralert-master-on-push: any of: jiralert/|.tekton/jiralert-master-pull-request.yaml|.tekton/jiralert-master-push.yaml
  logrotate-master-on-push: any of: logrotate/|.tekton/logrotate-master-pull-request.yaml|.tekton/logrotate-master-push.yaml
  msk-debug-container-3.6-master-on-push: any of: msk-debug-container/|.tekton/msk-debug-container-master-pull-request.yaml|.tekton/msk-debug-container-master-push.yaml
  msk-debug-container-3.7-master-on-pull-request: any of: msk-debug-container/|.tekton/msk-debug-container-kafka-3.6-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.6-master-push.yaml|.tekton/msk-debug-container-kafka-3.7-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.7-master-push.yaml
  qontract-reconcile-builder-master-on-pull-request: any of: qontract-reconcile-builder/|.tekton/qontract-reconcile-builder-master-pull-request.yaml|.tekton/qontract-reconcile-builder-master-push.yaml
  qontract-reconcile-builder-master-on-push: any of: qontract-reconcile-builder/|.tekton/qontract-reconcile-builder-master-pull-request.yaml|.tekton/qontract-reconcile-builder-master-push.yaml

add labels to Dockerfile for Konflux
  qontract-reconcile-oc/Dockerfile
  qontract-reconcile-oc/VERSION
Due: none

update base image and add tools
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

bump version to try to release
  qontract-reconcile-oc/Dockerfile
  qontract-reconcile-oc/VERSION
Due: none

Add sloth binary to qr base
  qontract-reconcile-base/Dockerfile
Due: none

update to copy from official image
  qontract-reconcile-base/Dockerfile
Due: none

add wireshark-cli
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

APPSRE-12373: Add tools to troubleshoot python memory leak for ccx-insights (#255)
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

bump konflux release
  qontract-reconcile-base/Dockerfile
Due: none

reference qr-base image containing sloth binary
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

APPSRE-11244: add rds-enhanced-metrics-exporter image
  .tekton/rds-enhanced-metrics-exporter-master-pull-request.yaml
  .tekton/rds-enhanced-metrics-exporter-master-push.yaml
  rds-enhanced-metrics-exporter/Dockerfile
  rds-enhanced-metrics-exporter/README.md
Due: none

Red Hat Konflux update rds-enhanced-metrics-exporter-master
  .tekton/rds-enhanced-metrics-exporter-master-pull-request.yaml
  .tekton/rds-enhanced-metrics-exporter-master-push.yaml
Due: none

rds-enhanced-metrics-exporter: fetch specific commit, use upstream make release
  rds-enhanced-metrics-exporter/Dockerfile
Due: none

rds-enhanced-metrics-exporter: remove unneeded microdnf commands
  rds-enhanced-metrics-exporter/Dockerfile
Due: none

bump to most recent sha256
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

use ubi9 base images
  rds-enhanced-metrics-exporter/Dockerfile
Due: none

rds-enhanced-metrics-exporter: use ubi9 base images (#262)
  rds-enhanced-metrics-exporter/Dockerfile
Due: none

:arrow_up: qontract-reconcile-base: Python 3.12
  qontract-reconcile-base/Dockerfile
Due: none

:arrow_up: qontract-reconcile-builder: Python 3.12
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

:sparkles: use python-312-minimal image
  qontract-reconcile-base/Dockerfile
Due: none

:bug: tzdata
  qontract-reconcile-base/Dockerfile
Due: none

set TZ
  qontract-reconcile-base/Dockerfile
Due: none

:bug: fix invalid reference format; COPY --from doesn't support variable interpolation (docker build)
  qontract-reconcile-base/Dockerfile
Due: none

:arrow_up: qontract-reconcile-base: Python 3.12 (#263)
  qontract-reconcile-base/Dockerfile
Due: none

do not install packages already included in qontract-reconcile-base
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

:arrow_up: qontract-reconcile-builder: Python 3.12 (#264)
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

update dynatrace provider version.
  dynatrace-ci/providers.tf
Due: none

Bumped konflux tag from .5 to .6
  dynatrace-ci/Dockerfile
Due: none

[SREP-1517] - Update dynatrace provider version. (#266)
  dynatrace-ci/Dockerfile
  dynatrace-ci/providers.tf
Due: none

Remove packer image
  packer/Dockerfile
  packer/VERSION
Due: none

chore: remove go-httpbin
  .tekton/go-httpbin-master-pull-request.yaml
  .tekton/go-httpbin-master-push.yaml
  go-httpbin/Dockerfile
  go-httpbin/LICENSE
Due: none

remove old, unused versions of the oc binary
  qontract-reconcile-oc/Dockerfile
Due: none

chore(qontract-reconcile-base): use oc 4.19.0 from ose-cli-rhel9
  qontract-reconcile-base/Dockerfile
Due: none

fix: inline OC_VERSION in COPY
  qontract-reconcile-base/Dockerfile
Due: none

chore(qontract-reconcile-base): use oc 4.19.0 from ose-cli-rhel9 (#270)
  qontract-reconcile-base/Dockerfile
Due: none

chore(qontract-reconcile-builder): bump qontract-reconcile-base-master to 1.3.0
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

chore(qontract-reconcile-builder): bump qontract-reconcile-base-master to 1.3.0 (#271)
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

add wiremock Dockerfile
  wiremock/Dockerfile
  wiremock/LICENSE
  wiremock/README.md
Due: none

add tekton pipelines
  .tekton/wiremock-master-pull-request.yaml
  .tekton/wiremock-master-push.yaml
Due: none

add usage example
  wiremock/README.md
Due: none
