Repository app-sre/container-images: changes, and which Tekton pipelines are due for each by the changed paths.
All: debug-container-master-on-pull-request, dynatrace-config-job-master-on-push, grafana-ubi-master-on-push, grafana-ubi9-master-on-push, msk-debug-container-3.6-master-on-push, msk-debug-container-3.7-master-on-pull-request, qontract-reconcile-builder-master-on-pull-request

Path conditions:
  debug-container-master-on-pull-request: any of: debug-container/|.tekton/debug-container-master-pull-request.yaml|.tekton/debug-container-master-push.yaml
  dynatrace-config-job-master-on-push: any of: dynatrace-config-job/|.tekton/dynatrace-config-job-master-pull-request.yaml|.tekton/dynatrace-config-job-master-push.yaml
  grafana-ubi-master-on-push: any of: grafana-ubi/|.tekton/grafana-ubi-master-pull-request.yaml|.tekton/grafana-ubi-master-push.yaml
  grafana-ubi9-master-on-push: any of: grafana-ubi9/|.tekton/grafana-ubi9-master-pull-request.yaml|.tekton/grafana-ubi9-master-push.yaml
  msk-debug-container-3.6-master-on-push: any of: msk-debug-container/|.tekton/msk-debug-container-master-pull-request.yaml|.tekton/msk-debug-container-master-push.yaml
  msk-debug-container-3.7-master-on-pull-request: any of: msk-debug-container/|.tekton/msk-debug-container-kafka-3.6-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.6-master-push.yaml|.tekton/msk-debug-container-kafka-3.7-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.7-master-push.yaml
  qontract-reconcile-builder-master-on-pull-request: any of: qontract-reconcile-builder/|.tekton/qontract-reconcile-builder-master-pull-request.yaml|.tekton/qontract-reconcile-builder-master-push.yaml

Revert "trigget multi arch (#235)"
  .tekton/dynatrace-config-job-master-pull-request.yaml
  .tekton/dynatrace-config-job-master-push.yaml
Due: dynatrace-config-job-master-on-push

Revert "trigget multi arch (#235)" (#236)
  .tekton/dynatrace-config-job-master-pull-request.yaml
  .tekton/dynatrace-config-job-master-push.yaml
Due: dynatrace-config-job-master-on-push

Download terraform and install on UBI image
  dynatrace-ci/Dockerfile
Due: none

Setput Konflux pipeline for dynatrace-ci
  .tekton/dynatrace-ci-master-pull-request.yaml
  .tekton/dynatrace-ci-master-push.yaml
Due: none

add LABEL to grafana-ubi & dynatrace-ci images (#222)
  dynatrace-ci/Dockerfile
  grafana-ubi/Dockerfile
Due: grafana-ubi-master-on-push

APPSRE-11020 re-trigger konflux (#228)
  qontract-reconcile-base/Dockerfile
Due: none

install promtool 3.2.1 alone with 2.55.1
  qontract-reconcile-base/Dockerfile
  qontract-reconcile-base/VERSION
  qontract-reconcile-base/switch-promtool
Due: none

Build our own grafana image (#210)
  grafana-ubi/Dockerfile
  grafana-ubi/LICENSE
  grafana-ubi/VERSION
Due: grafana-ubi-master-on-push

add tekton components for grafana-ubi image (#220)
  .tekton/grafana-ubi-master-pull-request.yaml
  .tekton/grafana-ubi-master-push.yaml
Due: grafana-ubi-master-on-push

Update previous successful build
  PREVIOUS_BUILD_SHA
Due: none

APPSRE-11020 fix RPA pipeline (#233)
  .tekton/qontract-reconcile-base-master-pull-request.yaml
  .tekton/qontract-reconcile-base-master-push.yaml
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-11020 konflux qr-base (#226)
  .tekton/qontract-reconcile-base-master-pull-request.yaml
  .tekton/qontract-reconcile-base-master-push.yaml
  qontract-reconcile-base/Dockerfile
Due: none

test dynatrace-ci build
  dynatrace-ci/Dockerfile
Due: none

APPSRE-11020 konflux qr builder (#224)
  .tekton/qontract-reconcile-builder-master-pull-request.yaml
  .tekton/qontract-reconcile-builder-master-push.yaml
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request

Fix: reduce terraform version to comply with requirements from dynatrace-config
  dynatrace-ci/Dockerfile
Due: none

Add lincense file
  dynatrace-ci/LICENSE
Due: none

APPSRE-11020 konflux trigger (#229)
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-11020 konflux trigger (#232)
  qontract-reconcile-base/Dockerfile
Due: none

Use Konflux compliant image for internal-redhat-ca
  dynatrace-ci/Dockerfile
Due: none

APPSRE-11020 konflux trigger (#230)
  qontract-reconcile-base/Dockerfile
Due: none

Copy licence to container
  dynatrace-ci/Dockerfile
Due: none

Return terraform version to before Konflux migration
  dynatrace-ci/Dockerfile
Due: none

use default REGISTRY_AUTH_FILE
  build_images.sh
Due: none

upgrade grafana image to 11.6.3 (#227)
  grafana-ubi/Dockerfile
  grafana-ubi/VERSION
Due: grafana-ubi-master-on-push

:sparkles: [debug-container] redis-cli-ext convenience redis-cli wrapper (#214)
  debug-container/Dockerfile
  debug-container/VERSION
  debug-container/redis-cli-ext
Due: debug-container-master-on-pull-request

Improve go-httpbin Dockerfile for Konflux compliance
  go-httpbin/Dockerfile
  go-httpbin/LICENSE
Due: none

Red Hat Konflux update jiralert-master Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/jiralert-master-pull-request.yaml
  .tekton/jiralert-master-push.yaml
Due: none

appsre-12214 - jiralert konflux
  .tekton/jiralert-master-pull-request.yaml
  .tekton/jiralert-master-push.yaml
Due: none

Red Hat Konflux update logrotate-master Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/logrotate-master-pull-request.yaml
  .tekton/logrotate-master-push.yaml
Due: none

Add missing additional tags to jiralert
  jiralert/Dockerfile
Due: none

trivial change to force a go-httpbin release
  go-httpbin/Dockerfile
Due: none

add tekton files for logrotate
  .tekton/logrotate-master-pull-request.yaml
  .tekton/logrotate-master-push.yaml
Due: none

update Dockerfile to add missing yes to dnf
  logrotate/Dockerfile
Due: none

add LABEL for konflux
  logrotate/Dockerfile
Due: none

change user to a non-root user
  logrotate/Dockerfile
Due: none

attempt to deploy new version
  logrotate/Dockerfile
  logrotate/VERSION
Due: none

add tekton files for qr-oc
  .tekton/qontract-reconcile-oc-master-pull-request.yaml
  .tekton/qontract-reconcile-oc-master-push.yaml
Due: none

Red Hat Konflux update qontract-reconcile-oc-master
  .tekton/qontract-reconcile-oc-master-pull-request.yaml
  .tekton/qontract-reconcile-oc-master-push.yaml
Due: none
