Repository app-sre/container-images: changes, and which Tekton pipelines are due for each by the changed paths.
All: debug-container-master-on-pull-request, dynatrace-config-job-master-on-push, grafana-ubi-master-on-push, grafana-ubi9-master-on-push, msk-debug-container-3.6-master-on-push, msk-debug-container-3.7-master-on-pull-request

debug-container-master-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/debug-container-master:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

dynatrace-config-job-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/dynatrace-config-job-master:{{revision}}
  - name: dockerfile
    value: dynatrace-config-job/Dockerfile
  ...

grafana-ubi-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/grafana-ubi-master:{{revision}}
  - name: dockerfile
    value: grafana-ubi/Dockerfile
  - name: path-context
  ...

grafana-ubi9-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/grafana-ubi9-master:{{revision}}
  - name: dockerfile
    value: grafana-ubi9/Dockerfile
  - name: path-context
  ...

msk-debug-container-3.6-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/msk-debug-container-master:{{revision}}
  - name: dockerfile
    value: msk-debug-container/Dockerfile
  ...

msk-debug-container-3.7-master-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/msk-debug-container-master:on-pr-3.7-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

update fedora image
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

:sparkles: [debug-container] redis-cli-ext convenience redis-cli wrapper (#214)
  debug-container/Dockerfile
  debug-container/VERSION
  debug-container/redis-cli-ext
Due: debug-container-master-on-pull-request

Update previous successful build
  PREVIOUS_BUILD_SHA
Due: none

install promtool 3.2.1 alone with 2.55.1
  qontract-reconcile-base/Dockerfile
  qontract-reconcile-base/VERSION
  qontract-reconcile-base/switch-promtool
Due: none

update base layer
  grafana-ubi/Dockerfile
Due: grafana-ubi-master-on-push

test dynatrace-ci build
  dynatrace-ci/Dockerfile
Due: none

Build our own grafana image (#210)
  grafana-ubi/Dockerfile
  grafana-ubi/LICENSE
  grafana-ubi/VERSION
Due: grafana-ubi-master-on-push

release new dynatrace-ci
  build_images.sh
  dynatrace-ci/VERSION
Due: none

use default REGISTRY_AUTH_FILE
  build_images.sh
Due: none

Fix: reduce terraform version to comply with requirements from dynatrace-config
  dynatrace-ci/Dockerfile
Due: none

add tekton components for grafana-ubi image
  .tekton/grafana-ubi-master-pull-request.yaml
  .tekton/grafana-ubi-master-push.yaml
Due: grafana-ubi-master-on-push

Return terraform version to before Konflux migration
  dynatrace-ci/Dockerfile
Due: none

add tekton components for grafana-ubi image (#220)
  .tekton/grafana-ubi-master-pull-request.yaml
  .tekton/grafana-ubi-master-push.yaml
Due: grafana-ubi-master-on-push

add LABEL to grafana-ubi & dynatrace-ci images
  dynatrace-ci/Dockerfile
  grafana-ubi/Dockerfile
Due: grafana-ubi-master-on-push

add LABEL to grafana-ubi & dynatrace-ci images (#222)
  dynatrace-ci/Dockerfile
  grafana-ubi/Dockerfile
Due: grafana-ubi-master-on-push

Red Hat Konflux update qontract-reconcile-builder-master Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/qontract-reconcile-builder-master-pull-request.yaml
  .tekton/qontract-reconcile-builder-master-push.yaml
Due: none

Red Hat Konflux update qontract-reconcile-base-master Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/qontract-reconcile-base-master-pull-request.yaml
  .tekton/qontract-reconcile-base-master-push.yaml
Due: none

APPSRE-11020 konflux qr-base
  .tekton/qontract-reconcile-base-master-pull-request.yaml
  .tekton/qontract-reconcile-base-master-push.yaml
  qontract-reconcile-base/Dockerfile
Due: none

upgrade grafana image to 11.6.3
  grafana-ubi/Dockerfile
  grafana-ubi/VERSION
Due: grafana-ubi-master-on-push

APPSRE-11020 konflux qr-base (#226)
  .tekton/qontract-reconcile-base-master-pull-request.yaml
  .tekton/qontract-reconcile-base-master-push.yaml
  qontract-reconcile-base/Dockerfile
Due: none

upgrade grafana image to 11.6.3 (#227)
  grafana-ubi/Dockerfile
  grafana-ubi/VERSION
Due: grafana-ubi-master-on-push

APPSRE-11020 konflux qr builder
  .tekton/qontract-reconcile-builder-master-pull-request.yaml
  .tekton/qontract-reconcile-builder-master-push.yaml
  qontract-reconcile-builder/Dockerfile
Due: none

APPSRE-11020 re-trigger konflux
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-11020 re-trigger konflux (#228)
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-11020 konflux trigger
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-11020 konflux trigger (#229)
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-11020 konflux trigger (#230)
  qontract-reconcile-base/Dockerfile
Due: none

Red Hat Konflux update go-httpbin-master Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/go-httpbin-master-pull-request.yaml
  .tekton/go-httpbin-master-push.yaml
Due: none

APPSRE-11020 konflux trigger (#232)
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-11020 fix RPA pipeline
  .tekton/qontract-reconcile-base-master-pull-request.yaml
  .tekton/qontract-reconcile-base-master-push.yaml
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-11020 fix RPA pipeline (#233)
  .tekton/qontract-reconcile-base-master-pull-request.yaml
  .tekton/qontract-reconcile-base-master-push.yaml
  qontract-reconcile-base/Dockerfile
Due: none

APPSRE-11020 konflux qr builder (#224)
  .tekton/qontract-reconcile-builder-master-pull-request.yaml
  .tekton/qontract-reconcile-builder-master-push.yaml
  qontract-reconcile-builder/Dockerfile
Due: none

optimized dockerfile
  go-httpbin/Dockerfile
Due: none

Add Tekton CI/CD pipeline configuration for go-httpbin service
  .tekton/go-httpbin-master-pull-request.yaml
  .tekton/go-httpbin-master-push.yaml
Due: none

trigget multi arch
  .tekton/dynatrace-config-job-master-pull-request.yaml
  .tekton/dynatrace-config-job-master-push.yaml
Due: dynatrace-config-job-master-on-push

trigget multi arch (#235)
  .tekton/dynatrace-config-job-master-pull-request.yaml
  .tekton/dynatrace-config-job-master-push.yaml
Due: dynatrace-config-job-master-on-push

Path conditions:
  debug-container-master-on-pull-request: any of: debug-container/|.tekton/debug-container-master-pull-request.yaml|.tekton/debug-container-master-push.yaml
  dynatrace-config-job-master-on-push: any of: dynatrace-config-job/|.tekton/dynatrace-config-job-master-pull-request.yaml|.tekton/dynatrace-config-job-master-push.yaml
  grafana-ubi-master-on-push: any of: grafana-ubi/|.tekton/grafana-ubi-master-pull-request.yaml|.tekton/grafana-ubi-master-push.yaml
  grafana-ubi9-master-on-push: any of: grafana-ubi9/|.tekton/grafana-ubi9-master-pull-request.yaml|.tekton/grafana-ubi9-master-push.yaml
  msk-debug-container-3.6-master-on-push: any of: msk-debug-container/|.tekton/msk-debug-container-master-pull-request.yaml|.tekton/msk-debug-container-master-push.yaml
  msk-debug-container-3.7-master-on-pull-request: any of: msk-debug-container/|.tekton/msk-debug-container-kafka-3.6-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.6-master-push.yaml|.tekton/msk-debug-container-kafka-3.7-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.7-master-push.yaml
